<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
        integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../style/main.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">DevHub</span>
        </div>
    </nav>

    <main>

        <section class="card-user">
            <div class="container">
                <div class="p-5 mt-5 rounded-1">
                    <div class="container-fluid">
                        <div id="metricas"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-logs">
            <div class="container">
                <div class="p-5 mt-5 rounded-1">
                    <div class="conteiner-fluid">
                        <div id="categoria"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-activities">
            <div class="container">
                <div class="p-5 mt-5 rounded-1">
                    <div class="conteiner-fluid">

                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

<script>

    const urlMetrica = "http://localhost:3000/metricas-usuario/1"
    fetch(urlMetrica, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }
    })
        .then((res) => {
            if (!res.ok)
                console.log("teste: ", res)
            return res.json();
        }).then((data) => {
            if (data)
                console.log("teste: ", data)

            let metricasHTML = "";
            if (data && Array.isArray(data)) {
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    console.log(element.nome);
                    metricasHTML += `
                    <div class="">
                        Dados do Usuário: ${element.nome} <br>
                        Horas Totais ${element.horas_totais} <br>
                        Bugs Totais ${element.bugs_totais} <br>
                        Logs Totais ${element.logs_totais} <br>
                    </div>
                    `;
                }
            }
            document.getElementById("metricas").innerHTML = metricasHTML;
        })
        .catch((error) => console.log("ERROR: ", error))

    const urlCategoria = "http://localhost:3000/logs?pagina=1&quantidade=10"
    fetch(urlCategoria, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }
    })
        .then((res) => {
            if (!res.ok)
                console.log("teste: ", res)
            return res.json();
        }).then((data) => {
            if (data)
                console.log("teste: ", data)

            let categoriasHTML = "";
            if (data && Array.isArray(data)) {
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    console.log(element.categoria);
                    categoriasHTML += `<div style="border-radius: 4px; border: 1px #cacaca solid; padding: 20px;">
                    Categoria: ${element.categoria} <br>
                    <div style="display: flex; justify-content: column;">
                        Horas Trabalhadas ${element.horas_trabalhadas}
                        Linhas Totais de Código ${element.linhas_codigo}
                        Bugs Corrigidos ${element.bugs_corrigidos}
                    </div>
                    </div>
                    `;
                }
            }
            document.getElementById("categoria").innerHTML = categoriasHTML;
        })
        .catch((error) => console.log("ERROR: ", error))

</script>

</html>