<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
        integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../style/main.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">DevHub</span>
        </div>
    </nav>

    <main>

        <section class="card-user">
            <div class="container">
                <div class="mt-5 rounded-1">
                    <div class="container-fluid">
                        <div id="metricas"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-logs">
            <div class="container">
                <div class="mt-5 rounded-1">
                    <div class="conteiner-fluid">
                        <div id="categoria"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

<script>

    const urlMetrica = "http://localhost:3000/metricas-usuario/1"
    fetch(urlMetrica, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }
    })
        .then((res) => {
            if (!res.ok)
                console.log("teste: ", res)
            return res.json();
        }).then((data) => {
            if (data)
                console.log("teste: ", data)

            let metricasHTML = "";
            if (data && Array.isArray(data)) {
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    console.log(element.nome);
                    metricasHTML += `
                    <div class="text-center">
                        <p class="pt-5 fw-bold">
                            Dados do Usuário: ${element.nome} <br>
                        </p>

                        <p>
                            Horas Totais ${element.horas_totais} <br>
                        </p>

                        <p>
                            Bugs Totais ${element.bugs_totais} <br>
                        </p>

                        <p>
                            Logs Totais ${element.logs_totais} <br>
                        </p>
                    </div>
                    `;
                }
            }
            document.getElementById("metricas").innerHTML = metricasHTML;
        })
        .catch((error) => console.log("ERROR: ", error))

    const urlCategoria = "http://localhost:3000/logs?pagina=1&quantidade=10"
    fetch(urlCategoria, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }
    })
        .then((res) => {
            if (!res.ok)
                console.log("teste: ", res)
            return res.json();
        }).then((data) => {
            if (data)
                console.log("teste: ", data)

            let categoriasHTML = "";
            if (data && Array.isArray(data)) {
                for (let index = 0; index < data.length; index++) {
                    const element = data[index];
                    console.log(element.categoria);
                    categoriasHTML += `<div class="post-log "> <p class='categoria'>
                    <div class="cima-card d-flex justify-content-between"><h5>${element.nome}</h5><h6 class="categoria-logs">${element.categoria}</h6> </div>
                    <div class='mb-3 text-center d-flex justify-content-around'> <div class="dadinhos">${element.horas_trabalhadas}h <br> <p>horas trabalhadas</p></div> <div class="dadinhos">${element.linhas_codigo} <br> <p>linhas de codigo</p> </div> <div class="dadinhos"> ${element.bugs_corrigidos}<br> <p>bugs corrigido</p> </div></div>
                    <div class="baixo-card"> <button><img src="../elements/icons/heart.svg" alt=""> ${element.likes}</button> </button> <button> <img src="../elements/icons/comment.svg" alt=""> ${element.qnt_comments} </button></div>
                    </div>`;
                }
            }
            document.getElementById("categoria").innerHTML = categoriasHTML;
        })
        .catch((error) => console.log("ERROR: ", error))

</script>

</html>