body{
    background-color: #eeeeee;
}

main{
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #c6c6c6;
}

.card-user .container{
    border-radius: 10px;
    background-color: #ffffff;
    width: 190px;
    height: 310px;
    box-shadow: 0px 0px 5px 0px #c6c6c6;
}

.card-logs .container{
    border-radius: 10px;
    margin: 25px;
    background-color: #ffffff;
    width: 700px;
    box-shadow: 0px 0px 5px 0px #c6c6c6;
}

.card-activities .container{
    border-radius: 10px;
    background-color: #ffffff;
    width: 250px;
    height: 230px;
    box-shadow: 0px 0px 5px 0px #c6c6c6;
}

.dadosUser{
    padding-top: 69px;
}

.categoria-logs{
    font-size: 10px;
    margin-bottom: 35px;
    padding: 8px;
    border-radius: 10px;
    background-color: #003cff56;
}

.dadinhos{
    background-color: #003cff25;
    padding: 8px;
    border-radius: 10px;
}

button{
    border: none;
    background-color: transparent;
}

.card-logs{
    margin-left: 50px;
}

.post-log{
    margin: 15px;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: #e0e0e0d5;
}

#categoria{
    padding-top: 1px;
    padding-bottom: 1px;
}